@font-face {
    font-family: "Bowlby One";
    src: url(fonts/BowlbyOne-Regular.ttf);
}
@font-face {
    font-family: "Bebas Neue";
    src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Boogaloo";
    src: url(fonts/Boogaloo-Regular.ttf);
}
body{
    font-family: "Bowlby One";
}
.hea{
    font-family: "Bowlby One";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}
.navbar >.container-fluid>.navbar-nav>li>a {
    color: white;
    transition: 0.57s;
}
.navbar >.container-fluid>.navbar-nav>li>a:hover {
    color: yellow;
    transition: 0.57s;
}
.title{
    font-family: "Bowlby One";
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.two{
    text-align: center;
    font-family: "Bowlby One";
    color: #FAFF00;
    font-weight: 400;
    font-size: 38px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.img{
    position: relative;
}
.mai{
    width: 100%;
    display: block;
    margin: auto;
}
.cont{
    text-transform: uppercase;
    font-family: "Bowlby One";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.57s;
}
.four{
    width: 100%;
    border: 7px solid #310B4C;
    border-radius: 11px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Boogaloo";
    color: black;
    text-transform: uppercase;
}
.cont:hover{
    opacity: 1;
}
.two>button:hover{
    background-color: #FAFF00;
    transition: 0.56s;
}
.cont>button:hover {
    background-color: #FAFF00;
    transition: 0.56s;
}
.wra{
    display: flex;
    text-align: center;
    justify-content: center;
}
.head{
    position: absolute;
    text-align: center;
    align-items: center;
}
.vl{
    border-left: 6px solid green;
    height: 500px;
}
.line{
    display: flex;
    text-align: center;
    width: 5px;
    height: 100%;
    background-color: black;
}
.contain{
    position: relative;
}
.dih{
    width: 90%;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.imgs{
    position: absolute; 
    left: 50%; 
    top: 0; 
    transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 0px) {
    .cont{
        font-size: 6px;
    }
    .title{
        font-size: 19px;
    }
    .pi{
        font-size: 4px;
    }
    .imgs{
        width: 25%;
        transform: translateX(-50%) translateY(-87%);
    }
    
}
@media (min-width: 576px) {
    .cont:hover{
        font-size: 11px;
    }
    .title{
        font-size: 18px;
    }
    .pi{
        font-size: 9px;
    }
    .imgs{
        width: 25%;
        transform: translateX(-50%) translateY(-80%);
    }
}
@media (min-width: 800px) {
    .cont:hover{
        font-size: 16px;
    }
    .title{
        font-size: 29px;
    }
    .pi{
        font-size: 11.5px;
    }
    .imgs{
        width: 25%;
        transform: translateX(-50%) translateY(-69%);
    }
}
@media (min-width: 1000px) {
    .cont:hover{
        font-size: 16px;
    }
    .title{
        font-size: 29px;
    }
    .pi{
        font-size: 14px;
    }
    .imgs{
        width: 25%;
        transform: translateX(-50%) translateY(-50%);
    }
}
@media (min-width: 1500px) {
    .cont:hover{
        font-size: 27px;
    }
    .title{
        font-size: 29px;
    }
    .pi{
        font-size: 22px;
    }
    .imgs{
        width: 25%;
        transform: translateX(-50%) translateY(-50%);
    }
}
